.locationicon {
  width: 1240px;
  height: 85px;
  display: flex;
  justify-content: center;
  margin: 128px 0 64px 0;
}

.locationicon svg {
  width: 32px;
  height: 32px;
  align-self: center;
  margin-right: 8px;
}

.wordSpace {
  font-size: 38px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wordcontainer {
  height: 51px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 51px;
  vertical-align: middle;
  transition: width 0.4s ease;
  align-self: center;
}

.word {
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
  top: 0;
  left: 0;
  height: 38px;
  // text-align: center;
  // line-height: 34px;
  // display: inline-block;
  // align-items: center;
  // justify-content: center;
  font-size: 38px;
  white-space: nowrap;

  // opacity: 0;
  // transform: translateY(10px);
  // animation: fadeSlideUp 0.3s ease forwards;
}

.entering {
  animation: fadeInUp 0.5s ease forwards;
}

.leaving {
  animation: fadeOutUp 0.2s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
