.searchInputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  gap: 10px;
  padding: 5px;
  background-color: #fff;
  position: relative;
  flex: 1;
  margin: -70px 60px 0 11%;
}

.categorys {
  font-weight: 500;
  font-size: 14px;
}

.categorySelector {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.categoryButton {
  display: flex;
  align-items: center;
}

.facaret {
  margin-left: 5px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.dropdownMenu {
  font-size: 12px;
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 2px 2px;
  width: 75px;
  z-index: 10;
}

.dropdownItem {
  padding: 3px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  padding: 10px 10px;
}

.showSearchButton {
  background: black;
  border-radius: 50%;
  border: solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

.showSearchButtonIcon {
  font-size: 16px;
  color: white;
}
